.tabs {
    grid-area: tabs;
    width: 502px;
    height: 50px;
    display: flex;
    text-transform: uppercase;
    color: #4A4A4A;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;


    .tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 167px;
        height: 50px;
        background-color: #fff;
        border-top: 1px solid #DFE5EC;
        border-bottom: 1px solid #DFE5EC;



        &-start {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: 1px solid #DFE5EC;
            background-color: #fff;
            width: 167px;
            height: 50px;
            & p {
                margin-top: auto;
                margin-bottom: auto;
                text-align: center;
                line-height: 20px; /* 166.667% */
                letter-spacing: 0.5px;
                user-select: none;
            }
        }

        &-end {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border: 1px solid #DFE5EC;
            background-color: #fff;
            width: 167px;
            height: 50px;

            & p {
                margin-top: auto;
                margin-bottom: auto;
                text-align: center;
                line-height: 20px; /* 166.667% */
                letter-spacing: 0.5px;
                user-select: none;
            }
        }

        & p {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            line-height: 20px; /* 166.667% */
            letter-spacing: 0.5px;
            user-select: none;
        }
    }

    .tab:hover {
        background-color: #F1FCFF;
        cursor: pointer;
    }

    .tab-start:hover {
        background-color: #F1FCFF;
        cursor: pointer;
    }

    .tab-end:hover {
        background-color: #F1FCFF;
        cursor: pointer;
    }


    .active {
        background-color: #2196F3;
        color: #fff;
        border: 2px solid #2196F3;
    }
    .active:hover {
        background-color: #2196F3;
        cursor: pointer;

    }


}


