*{
    box-sizing: border-box;
    margin: 0;
}
.App{
    background-color: #F3F7FA;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.app-container{

    min-height: 100vh;
    max-width: 754px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header{

    padding: 39px 0;
    text-align: center;
}

.main{

    display: grid;
    grid-template-areas: "filter tabs" "filter tickets-list";
}

.filter{

    grid-area: filter;
    color: #4A4A4A;
    font-size: 13px;
    padding: 20px 0;
    width: 232px;
    height: 252px;
    border-radius: 5px;
    background-color: #fff;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.10));

}

.filter form{
    display: flex;
    flex-direction: column;
    font-weight: 400;

}

.filter h3{
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 12px;
}

.filter label{
    position: relative;
    cursor: pointer;
    display: block;
    padding: 10px 50px;
}

.filter label:hover{
    background-color: #F1FCFF;
}


.visible-hide{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;

}
.check-box{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/Checkbox.svg");
    background-repeat: no-repeat;
    margin-left: -30px;
}

input:checked + .check-box{
    background-image: url("../../assets/checkbox-active.svg");
}

.tabs{

    grid-area: tabs;
    width: 502px;
    height: 50px;
    display: flex;
    text-transform: uppercase;
    color: #4A4A4A;
    align-items: center;
    margin-left: 20px;

}

.tab-start{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 167px;
    height: 50px;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 2px solid #DFE5EC;
}

.tab-start p{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 167px;
    height: 50px;
    background-color: #fff;
    border-top: 2px solid #DFE5EC;
    border-bottom: 2px solid #DFE5EC;

}

.tab p{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
}

.tab-end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 167px;
    height: 50px;
    background-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid #DFE5EC;
}

.tab-end p{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
}

.active{
    background-color: #2196F3;
    color: #fff;
    border: 2px solid #2196F3;
}

.tickets-list{
    grid-area: tickets-list;
}

.ticket{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 502px;
    height: 184px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.10));
    margin-left: 20px;
}
.ticket-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 462px;
    height: 36px;
    margin: 20px;
}
.price {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #2196F3;
}
.aviacompany{

}
.aviacompany img{
    width: 100px;
}

.ticket-data{
    display: flex;
    width: 462px;
    height: 39px;
    margin: 0 20px;
    justify-content: space-between;
}

.ticket-info{
    width: 141px;
}