@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
    format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
    format('woff');
}

:global {
    * {
        box-sizing: border-box;
        margin: 0;
    }
}

.App {
    background-color: #F3F7FA;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.appContainer {
    min-height: 100vh;
    max-width: 754px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 39px 0;
    text-align: center;
}

.main {
    display: grid;
    grid-template-areas: "filter tabs" "filter tickets-list";
}
